html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body header .headercontainer {
  margin: 40px auto;
  max-width: 1440px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .headercontainer img {
  vertical-align: middle;
}
body header .headercontainer h1 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
body header .headercontainer ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
body header .headercontainer ul li {
  display: inline-block;
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (max-width: 830px) {
  body header .headercontainer ul {
    display: none;
  }
}

body .s1 {
  background-image: url("../images/s1bgimg2.png"), url("../images/s1bgimg.png");
  background-color: #f9f9f8, #f9f9f8;
  width: 100%;
  height: 900px;
  background-size: auto;
  margin-bottom: 30px;
}
body .s1 .s1container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
body .s1 .s1container h1 {
  color: #68A47F;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 247px;
  position: absolute;
}
body .s1 .s1container h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  margin-top: 304px;
}
body .s1 .s1container button {
  position: absolute;
  margin-top: 573px;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background: #EFD372;
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
@media only screen and (max-width: 538px) {
  body .s1 .s1container button {
    margin-top: 640px;
  }
}
@media only screen and (max-width: 444px) {
  body .s1 .s1container button {
    margin-top: 650px;
  }
}

body .s2container {
  max-width: 1440px;
  width: 90%;
  height: 711px;
  gap: 36px;
  margin: 0 auto;
}
body .s2container .s2card1 {
  position: relative;
  display: inline-block;
  margin-top: 150px;
}
body .s2container .s2card1 img {
  border-radius: 30px;
  display: inline-block;
  position: absolute;
}
body .s2container .s2card1 h1 {
  display: inline-block;
  position: absolute;
  color: #ffffff;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
  margin-top: 110px;
  margin-right: 500px;
  margin-left: 50px;
}
body .s2container .s2card1 h2 {
  display: inline-block;
  position: absolute;
  color: #ffffff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  z-index: 1;
  width: 300px;
  margin-top: 160px;
  margin-left: 50px;
}
body .s2container .s2card2 {
  position: relative;
  display: inline-block;
}
body .s2container .s2card2 img {
  border-radius: 30px;
  display: inline-block;
  position: absolute;
  margin-left: 700px;
}
body .s2container .s2card2 h3 {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  position: absolute;
  margin-top: 110px;
  margin-left: 750px;
}
body .s2container .s2card2 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: inline-block;
  position: absolute;
  width: 300px;
  margin-top: 160px;
  margin-left: 750px;
}

body .s3 {
  width: 100%;
  height: 1067px;
  background-color: #F9F8F8;
}
body .s3 .s3container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .s3 .s3container .s3img {
  display: inline-block;
  width: 911px;
  height: 867px;
}
body .s3 .s3container .s3rightcontainer {
  width: 600px;
  display: inline-block;
}
body .s3 .s3container .s3rightcontainer h1 {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
body .s3 .s3container .s3rightcontainer h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 14px;
}
body .s3 .s3container .s3rightcontainer h3 {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.772px;
}
body .s3 .s3container .s3rightcontainer .s3minicard1 {
  margin-top: 46px;
}
body .s3 .s3container .s3rightcontainer .s3minicard1 .imgbg {
  width: 101px;
  height: 101px;
  border-radius: 20px;
  background: #FFF;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 19px;
}
body .s3 .s3container .s3rightcontainer .s3minicard1 .imgbg img {
  margin: 0px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .s3 .s3container .s3rightcontainer .s3minicard1 .text {
  display: inline-block;
}
body .s3 .s3container .s3rightcontainer .s3minicard1 .text h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}
body .s3 .s3container .s3rightcontainer .s3minicard1 .text h5 {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.772px;
}
body .s3 .s3container .s3rightcontainer .s3minicard2 {
  margin-top: 46px;
}
body .s3 .s3container .s3rightcontainer .s3minicard2 .imgbg {
  width: 101px;
  height: 101px;
  border-radius: 20px;
  background: #FFF;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 19px;
}
body .s3 .s3container .s3rightcontainer .s3minicard2 .imgbg img {
  margin: 0px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .s3 .s3container .s3rightcontainer .s3minicard2 .text {
  display: inline-block;
}
body .s3 .s3container .s3rightcontainer .s3minicard2 .text h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}
body .s3 .s3container .s3rightcontainer .s3minicard2 .text h5 {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.772px;
}
body .s3 .s3container .s3rightcontainer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  padding: 28px 39px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: none;
  border-radius: 16px;
  background: #274C5B;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 47px;
}

body .s4 {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
body .s4 h1 {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 176px;
  margin-bottom: 8px;
}
body .s4 h2 {
  color: #274C5B;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
body .s4 .s4flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
body .s4 .s4flexcontainer .s4card1 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card1.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card1 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card1 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card1 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 169px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card1 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card1 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card1 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 40px;
}
body .s4 .s4flexcontainer .s4card1 .starsrating {
  margin-left: 35px;
}
body .s4 .s4flexcontainer .s4card2 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card2.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card2 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card2 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card2 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 200px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card2 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card2 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card2 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 45px;
}
body .s4 .s4flexcontainer .s4card3 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card4.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card3 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card3 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card3 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 169px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card3 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card3 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card3 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 45px;
}
body .s4 .s4flexcontainer .s4card4 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card3.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card4 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card4 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card4 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 169px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card4 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card4 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card4 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 45px;
}
body .s4 .s4flexcontainer .s4card5 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card5.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card5 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card5 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card5 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 169px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card5 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card5 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card5 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 45px;
}
body .s4 .s4flexcontainer .s4card6 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card6.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card6 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card6 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card6 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 169px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card6 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card6 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card6 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 45px;
}
body .s4 .s4flexcontainer .s4card7 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card7.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card7 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card7 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card7 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 169px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card7 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card7 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card7 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 45px;
}
body .s4 .s4flexcontainer .s4card8 {
  width: 335px;
  height: 490px;
  border-radius: 30px;
  background: #F9F8F8;
  background-image: url("../images/s4card8.png");
  background-repeat: no-repeat;
  background-position: center;
}
body .s4 .s4flexcontainer .s4card8 .s4cardh1bg {
  border-radius: 8px;
  background: #274C5B;
  width: 96px;
  height: 31px;
  margin-top: 29px;
  margin-left: 30px;
  padding-top: 10px;
}
body .s4 .s4flexcontainer .s4card8 .s4cardh1bg h3 {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .s4 .s4flexcontainer .s4card8 h4 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 220px;
  margin-top: 339px;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card8 svg {
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card8 h5 {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 9px;
  display: inline-block;
  margin-left: 30px;
}
body .s4 .s4flexcontainer .s4card8 h6 {
  color: #274C5B;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 8px;
  margin-right: 45px;
}
body .s4 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 49px 28px 46px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: #274C5B;
  border: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  margin-top: 122px;
  margin-bottom: 122px;
}

body .s5 {
  width: 100%;
  height: 931px;
  background-image: url("../images/s5bgimg.png");
  background-repeat: no-repeat;
}
body .s5 .d1 {
  width: 900px;
  height: 723px;
  background-color: #ffffff;
  display: inline-block;
  margin-top: 75px;
  margin-left: 871px;
  border-radius: 30px;
  padding-left: 89px;
  padding-top: 79px;
}
body .s5 .d1 h1 {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
body .s5 .d1 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 35px;
}
body .s5 .d1 h3 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 7px;
}
body .s5 .d1 h4 {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 35px;
}

body .s6 {
  background-color: #F1F8F4;
  width: 100%;
  height: 957px;
}
body .s6 .s6flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .s6 .s6flexcontainer .s6card1 {
  position: relative;
  display: inline-block;
  height: 612px;
  width: 583px;
}
body .s6 .s6flexcontainer .s6card1 img {
  display: inline-block;
  position: absolute;
}
body .s6 .s6flexcontainer .s6card1 .s6cardtextbg {
  width: 320px;
  height: 96px;
  position: absolute;
  border-radius: 20px;
  background: #FFF;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .s6 .s6flexcontainer .s6card1 .s6cardtextbg h1 {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body .s6 .s6flexcontainer .s6card2 {
  position: relative;
  display: inline-block;
  height: 612px;
  width: 583px;
}
body .s6 .s6flexcontainer .s6card2 img {
  display: inline-block;
  position: absolute;
}
body .s6 .s6flexcontainer .s6card2 .s6cardtextbg {
  width: 320px;
  height: 96px;
  position: absolute;
  border-radius: 20px;
  background: #FFF;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .s6 .s6flexcontainer .s6card2 .s6cardtextbg h1 {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body .s6 .s6flexcontainer .s6card3 {
  position: relative;
  display: inline-block;
  height: 612px;
  width: 612px;
}
body .s6 .s6flexcontainer .s6card3 img {
  display: inline-block;
  position: absolute;
}
body .s6 .s6flexcontainer .s6card3 .s6cardtextbg {
  width: 320px;
  height: 96px;
  position: absolute;
  border-radius: 20px;
  background: #FFF;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .s6 .s6flexcontainer .s6card3 .s6cardtextbg h1 {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=global.css.map */