body {
    header {
        .headercontainer {
            margin: 40px auto 40px auto;
            max-width: 1402px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                vertical-align: middle;
            }

            h1 {
                color: #274C5B;
                font-family: Roboto;
                font-size: 38px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: inline-block;
                vertical-align: middle;
            }
            ul {
                display: inline-flex;
                justify-content: space-between;
                max-width: 500px;
                width: 100%;
                
                li {
                    display: inline-block;
                    color: #274C5B;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }
}