body {
    .s1 {
        max-width: 1600px;
        width: 100%;
        background-image: url(..\images\s1bgimg.png);
    }
    .s2 {
        height: 711px;

        .s2flexcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-wrap: wrap;
        }
    }

}