body {
    .s1 {
        max-width: 1600px;
        width: 100%;
        background-image: url(C:\Users\PCZONE.GE\Desktop\HWs\final-project-vanomagalashvili\images\s1bgimg.png);
        background-color: #E3F1E9;
    }
}