body {
    .s2container {
        width: 1402px;
        height: 711px;
        gap: 36px;
        margin: 0 auto;

        .s2card1 {
            position: relative;
            display: inline-block;
            margin-top: 150px;

            img {
                border-radius: 30px;
                display: inline-block;
                position: absolute;
            }
            h1 {
                display: inline-block;
                position: absolute;
                color: #ffffff;
                font-family: Yellowtail;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                z-index: 1;
                margin-top: 110px;
                margin-right: 500px;
                margin-left: 50px;
            }
            h2 {
                display: inline-block;
                position: absolute;
                color: #ffffff;
                font-family: Roboto;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                z-index: 1;
                width: 300px;
                margin-top: 160px;
                margin-left: 50px;
            }
        }
        .s2card2 {
            position: relative;
            display: inline-block;

            img {
                border-radius: 30px;
                display: inline-block;
                position: absolute;
                margin-left: 700px;
            }
            h3 {
                color: #7EB693;
                font-family: Yellowtail;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: inline-block;
                position: absolute;
                margin-top: 110px;
                margin-left: 750px;
            }
            h4 {
                color: #274C5B;
                font-family: Roboto;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                display: inline-block;
                position: absolute;
                width: 300px;
                margin-top: 160px;
                margin-left: 750px;
            }
        }
    }
}